In [1]:
import pandas as pd
# Set display options
pd.set_option('display.max_rows', None)    # Show all rows
pd.set_option('display.max_columns', None) # Show all columns

# CO2 and Greenhouse Gas Emissions Dataset

The complete CO2 and Greenhouse Gas Emissions dataset provided by Our World in Data is a comprehensive collection of key metrics. This dataset is regularly updated and encompasses various data points related to CO2 emissions. It includes annual CO2 emissions, CO2 emissions per capita, cumulative CO2 emissions, consumption-based CO2 emissions, as well as information on other greenhouse gases, energy mix, and other pertinent metrics. Source: https://ourworldindata.org/co2-and-greenhouse-gas-emissions

In [31]:
github = pd.read_csv('/content/owid-co2-data (1).csv')

In [3]:
github.head(3)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.931,0.781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.968,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.119,NaN,NaN,NaN,NaN,0.118,NaN,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.968,0.784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.118,NaN,NaN,NaN,NaN,0.116,NaN,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

First, let's see how many rows and columns we have

In [4]:
github.shape

(50598, 79)

Let's see how many years the dataset is covering

In [7]:
years_github = sorted(list(github['year'].unique()))
print(years_github)

[1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

We need also to check NA values in parallel with the type of each column. For visualization purposes, I will display the type of each column next to number of NAs (in descending order)

In [33]:
data_inf = {'Type':github.dtypes, 'Number_NAs':github.isna().sum()}
information = pd.DataFrame(data_inf)
information.sort_values(by = 'Number_NAs', ascending=False) # I am summming the NA values for each column and sorting them in descending order

                                              Type  Number_NAs
share_global_other_co2                     float64       42767
share_global_cumulative_other_co2          float64       42767
other_industry_co2                         float64       42767
other_co2_per_capita                       float64       42767
cumulative_other_co2                       float64       42767
consumption_co2_per_gdp                    float64       41237
consumption_co2_per_capita                 float64       40920
trade_co2_share                            float64       40889
consumption_co2                            float64       40888
trade_co2                                  float64       40888
total_ghg_excluding_lucf                   float64       38872
total_ghg                                  float64       38872
ghg_per_capita                             float64       38872
ghg_excluding_lucf_per_capita              float64       38872
nitrous_oxide_per_capita                   float64       38871
nitrous_oxide                              float64       38871
methane_per_capita                         float64       38871
methane                                    float64       38871
energy_per_gdp                             float64       37802
co2_including_luc_per_unit_energy          float64       35775
co2_per_unit_energy                        float64       35269
energy_per_capita                          float64       35010
primary_energy_consumption                 float64       34943
gdp                                        float64       30397
co2_including_luc_per_gdp                  float64       30256
co2_per_gdp                                float64       29810
share_global_cumulative_flaring_co2        float64       29515
share_global_flaring_co2                   float64       29515
share_global_cumulative_cement_co2         float64       25109
share_global_cement_co2                    float64       25109
share_global_cumulative_gas_co2            float64       23937
share_global_gas_co2                       float64       23937
cement_co2_per_capita                      float64       23609
share_global_oil_co2                       float64       22666
share_global_cumulative_oil_co2            float64       22666
co2_including_luc_per_capita               float64       22375
co2_including_luc_growth_abs               float64       22173
flaring_co2_per_capita                     float64       22052
gas_co2_per_capita                         float64       21984
oil_co2_per_capita                         float64       21957
co2_including_luc_growth_prct              float64       21953
coal_co2_per_capita                        float64       21903
share_global_cumulative_co2_including_luc  float64       21877
cumulative_co2_including_luc               float64       21877
share_global_co2_including_luc             float64       21877
co2_including_luc                          float64       21877
cumulative_flaring_co2                     float64       21686
flaring_co2                                float64       21686
cement_co2                                 float64       21654
cumulative_cement_co2                      float64       21654
gas_co2                                    float64       21618
cumulative_gas_co2                         float64       21618
cumulative_oil_co2                         float64       21519
oil_co2                                    float64       21519
coal_co2                                   float64       21492
share_global_cumulative_coal_co2           float64       21492
share_global_coal_co2                      float64       21492
cumulative_coal_co2                        float64       21492
co2_growth_prct                            float64       21419
co2_per_capita                             float64       19505
co2_growth_abs                             float64       17725
cumulative_co2                             float64       17321
share_global_co2                           float64       17321
co2                                        float64       17321
share_global_cumulative_co2                float64       17321
land_use_change_co2_per_capita             float64       10039
temperature_change_from_ch4                float64        8880
temperature_change_from_n2o                float64        8880
share_global_cumulative_luc_co2            float64        6949
share_global_luc_co2                       float64        6949
land_use_change_co2                        float64        6949
cumulative_luc_co2                         float64        6949
temperature_change_from_ghg                float64        6144
share_of_temperature_change_from_ghg       float64        6144
temperature_change_from_co2                float64        6144
population                                 float64        5490
iso_code                                    object        3506
year                                         int64           0
country                                     object           0

I noticed that all columns with NA values are float except iso_code which is of type object so let's see what are the rows with NA values

In [5]:
github[github['iso_code'].isna()]['country'].unique()

array(['Africa', 'Africa (GCP)', 'Asia', 'Asia (GCP)',
       'Asia (excl. China and India)', 'Central America (GCP)', 'Europe',
       'Europe (GCP)', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (27) (GCP)',
       'European Union (28)', 'French Equatorial Africa (GCP)',
       'French Equatorial Africa (Jones et al. 2023)',
       'French West Africa (GCP)',
       'French West Africa (Jones et al. 2023)', 'High-income countries',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires (GCP)',
       'Kuwaiti Oil Fires (Jones et al. 2023)',
       'Least developed countries (Jones et al. 2023)',
       'Leeward Islands (GCP)', 'Leeward Islands (Jones et al. 2023)',
       'Low-income countries', 'Lower-middle-income countries',
       'Middle East (GCP)', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'OECD (GCP)',
       'OECD (Jones et al. 2023)', 'Oceania', 'Oceania (GCP)',
       'Panama Canal Zone (GCP)', 'Panama Canal Zone (Jones et al. 2023)',
       'Ryukyu Islands (GCP)', 'Ryukyu Islands (Jones et al. 2023)',
       'South America', 'South America (GCP)',
       'St. Kitts-Nevis-Anguilla (GCP)',
       'St. Kitts-Nevis-Anguilla (Jones et al. 2023)', 'Timor',
       'Upper-middle-income countries', 'World'], dtype=object)

What is GCP region? In Google Cloud Region is a geographical region made up of zones where you can host your GCP resources. Google Cloud Zone is a GCP resource deployment area (virtual machine, database..). Within the region, this is regarded as a single failure domain. https://sudipta-deb.in/2022/01/understand-regions-and-zones-in-google-cloud.html#:~:text=In%20Google%20Cloud%20Region%20is,as%20a%20single%20failure%20domain.

Let's drop all rows where there is GCP or any other parenthesis like (Jones et al. 2023)

In [32]:
github = github[~github['country'].str.contains('\(|\)')]

In [34]:
github[github['iso_code'].isna()]['country'].unique()

array(['Africa', 'Asia', 'Europe', 'High-income countries',
       'International transport', 'Kosovo', 'Low-income countries',
       'Lower-middle-income countries', 'North America', 'Oceania',
       'South America', 'Timor', 'Upper-middle-income countries', 'World'],
      dtype=object)

Everything except Kosovo and Timor (which are countries, so they have a specific iso code) can be used to analyze continents and countries classified based on income so I will create an iso_code to directly detect them by using this trustable website https://www.countrycallingcodes.com/iso-country-codes

In [35]:
# Continents
github.loc[github['country'] == 'Africa', 'iso_code'] = 'AF'
github.loc[github['country'] == 'Asia', 'iso_code'] = 'AS'
github.loc[github['country'] == 'Europe', 'iso_code'] = 'EU'
github.loc[github['country'] == 'North America', 'iso_code'] = 'NA'
github.loc[github['country'] == 'South America', 'iso_code'] = 'SA'
github.loc[github['country'] == 'Oceania', 'iso_code'] = 'OC'
github.loc[github['country'] == 'World', 'iso_code'] = 'WO'

In [36]:
# Countries classified based on income
github.loc[github['country'] == 'High-income countries', 'iso_code'] = '111'
github.loc[github['country'] == 'Low-income countries', 'iso_code'] = '222'
github.loc[github['country'] == 'Lower-middle-income countries', 'iso_code'] = '333'
github.loc[github['country'] == 'Upper-middle-income countries', 'iso_code'] = '444'

In [37]:
# Drop 'International transport' since it's not useful
github = github[~(github['country'] == 'International transport')]

In [38]:
# Fix Kosovo and Timor
github.loc[github['country'] == 'Kosovo', 'iso_code'] = 'XXK'
github.loc[github['country'] == 'Timor', 'iso_code'] = 'TLS'

Next, we have to deal with columns of type float with NA values: Since they are float, I will substitute NA values by the mean of the column grouped by country so that I don't get false analysis: Imagine I substitute NA values with the minimum, I will have many numbers with minimum values in my plots and it may lead to false conclusions. Furthermore, I cannot let NA values in my data because it may cause some gaps in years (for example not having data for 2018 while having for 2017 and 2019), so mean is the best compromise.

In [39]:
columns = list(information[information['Type'] == 'float64'].index)

for column in columns:
    github[column] = github.groupby('country')[column].transform(lambda x: x.fillna(x.mean()))

# Calculate the minimum value of each column
mean_values = github.select_dtypes(include=['float']).mean()

# Substitute NaN values with the minimum of each column
github = github.fillna(mean_values)

Let's check again the number of columns with NA values

In [40]:
data_inf = {'Type':github.dtypes, 'Number_NAs':github.isna().sum()}
information = pd.DataFrame(data_inf)
information[information['Number_NAs'] > 0]

Empty DataFrame
Columns: [Type, Number_NAs]
Index: []

We are finally done with NAs

In [19]:
github.head(3)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,2.677586e+11,7.727762,0.064898,247.030083,5.347094,21.449395,442.276036,6.68818,11.690234,7.032292,2.019138,1.105469,3.262886,0.388514,0.229602,137.060124,1.065704,873.368938,6.344776,0.360158,174.483403,9241.698771,21713.917785,6441.052857,90.685103,1066.331784,2.931,3069.034363,372.751061,25736.963965,1.809828,3.116137,0.163376,43.432893,0.532242,6.836894,7.569178,2.931,0.781,144.948245,1.843002,52.437737,0.568843,97.913204,1.780958,0.072965,17.655806,2290.43214,2.859362,3.923318,3.04049,4.635852,2.857936,3.932478,2.921509,4.635145,1.776102,2.660021,0.121,2.951973,21.513215,1.808973,2.659507,0.121,2.931123,21.513219,1.762633,0.002406,0.005532,0.008214,0.000388,760.868368,736.09494,-12.508592,21.557379
1,Afghanistan,1851,AFG,3769828.0,2.677586e+11,7.727762,0.064898,247.030083,5.347094,21.449395,442.276036,6.68818,11.690234,7.032292,2.019138,1.105469,3.262886,0.388514,0.229602,137.060124,1.065704,873.368938,6.344776,0.360158,174.483403,9241.698771,21713.917785,6441.052857,90.685103,1066.331784,5.899,3069.034363,372.751061,25736.963965,1.809828,3.116137,0.163376,43.432893,0.532242,6.836894,7.569178,2.968,0.787,144.948245,1.843002,52.437737,0.568843,97.913204,1.780958,0.072965,17.655806,2290.43214,2.859362,3.923318,3.04049,4.635852,2.857936,3.932478,2.921509,4.635145,1.776102,2.660021,0.119,2.951973,21.513215,1.808973,2.659507,0.118,2.931123,21.513219,0.165000,0.000000,0.000000,0.000000,0.000000,760.868368,736.09494,-12.508592,21.557379
2,Afghanistan,1852,AFG,3787706.0,2.677586e+11,7.727762,0.064898,247.030083,5.347094,21.449395,442.276036,6.68818,11.690234,7.032292,2.019138,1.105469,3.262886,0.388514,0.229602,137.060124,1.065704,873.368938,6.344776,0.360158,174.483403,9241.698771,21713.917785,6441.052857,90.685103,1066.331784,8.867,3069.034363,372.751061,25736.963965,1.809828,3.116137,0.163376,43.432893,0.532242,6.836894,7.569178,2.968,0.784,144.948245,1.843002,52.437737,0.568843,97.913204,1.780958,0.072965,17.655806,2290.43214,2.859362,3.923318,3.04049,4.635852,2.857936,3.932478,2.921509,4.635145,1.776102,2.660021,0.118,2.951973,21.513215,1.808973,2.659507,0.116,2.931123,21.513219,0.164000,0.000000,0.000000,0.000000,0.000000,760.868368,736.09494,-12.508592,21.557379

# Extreme poverty Dataset

Economic growth has proven that poverty is not inevitable, leading to substantial progress in reducing extreme poverty globally. However, approximately one in ten individuals still live in extreme poverty. The "international poverty line" metric is crucial in highlighting these individuals and the urgent need to address their challenges. The world's poorest populations are concentrated in countries with limited or no economic growth, presenting a significant ongoing challenge. Without a shift in this pattern, millions will continue to suffer from extreme poverty and its associated hardships.
Source: https://ourworldindata.org/extreme-poverty-in-brief

**Why to combine it with CO2 dataset?** Combining the extreme poverty dataset with the CO2 dataset holds immense significance due to the interconnectedness of poverty and environmental impact. By merging these datasets, we gain a comprehensive understanding of how poverty and environmental factors intersect, emphasizing the importance of addressing both issues simultaneously.

In [41]:
poverty = pd.read_csv('/content/poverty-share-on-less-than-30-per-day.csv', index_col=False)

In [21]:
poverty.head(2)

    Entity Code  Year  $30.00 per day - share of population below poverty line
0  Albania  ALB  1981                                           99.91247
1  Albania  ALB  1982                                           99.91247

First, I want to change the names of the columns to cope with the co2 dataset

In [42]:
poverty.columns = ['country', 'iso_code', 'year', 'share_population_below_poverty_line']

In [43]:
poverty.head(2)

   country iso_code  year  share_population_below_poverty_line
0  Albania      ALB  1981                             99.91247
1  Albania      ALB  1982                             99.91247

Let's check how many rows and columns we have

In [25]:
poverty.shape

(6942, 4)

We need also to check NA values in parallel with the type of each column. For visualization purposes, I will display the type of each column next to number of NAs (in descending order)

In [44]:
data_inf = {'Type':poverty.dtypes, 'Number_NAs':poverty.isna().sum()}
information = pd.DataFrame(data_inf)
information.sort_values(by = 'Number_NAs', ascending=False) # I am summming the NA values for each column and sorting them in descending order

                                        Type  Number_NAs
iso_code                              object         547
country                               object           0
year                                   int64           0
share_population_below_poverty_line  float64           0

I noticed that only one column has NA values which is iso_code iso_code so let's see what are the rows with NA values

In [45]:
poverty[poverty['iso_code'].isna()]['country'].unique()

array(['Argentina (Urban)', 'China (Rural)', 'China (Urban)',
       'East Asia and Pacific', 'Europe and Central Asia',
       'India (Rural)', 'India (Urban)', 'Indonesia (Rural)',
       'Indonesia (Urban)', 'Latin America and the Caribbean',
       'Middle East and North Africa', 'Other high Income (World Bank)',
       'South Asia', 'Sub-Saharan Africa', 'Suriname (Urban)'],
      dtype=object)

Since I have many rows with missing iso code, I will fix the country column to not include parenthesis in order to merge the two datasets by country instead of iso code

In [46]:
poverty.loc[poverty['country'] == 'Argentina (Urban)', 'country'] = 'Argentina'

Let's remove the iso_code column from poverty

In [47]:
poverty.drop('iso_code', inplace = True, axis = 1)

Let's have a look on the years this dataset covers

In [48]:
years_poverty = sorted(list(poverty['year'].unique()))
print(years_poverty)

[1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

While the CO2 dataset includes years from 1750 to 2021, this dataset only includes years from 1981 to 2019. So let's shrink the CO2 dataset to 1981-2021 range

In [49]:
github = github[(github['year'] > 1980)]

Now let's merge the two datasets

In [50]:
df = github.merge(poverty,how='left', on=['country','year'])

In [51]:
print(sum(df['share_population_below_poverty_line'].isna()) * 100/ df.shape[0], '% of the rows do not have a value in share_population_below_poverty_line column')

35.229227810950306 % of the rows do not have a value in share_population_below_poverty_line column

In [52]:
df.head(3)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share,share_population_below_poverty_line
0,Afghanistan,1981,AFG,11155196.0,1.564534e+10,0.033,0.003,1.978,0.222,12.649,5.789,0.882,17.967,0.519,0.370,0.660,0.177,0.126,0.225,0.333,0.030,1150.217041,6.536237,0.358862,1.199,33.772,339.753,8.098,3.684,4.763,825.572,16.028,260.07266,786.837,0.561,0.293,0.026,0.304,0.027,0.8015,0.7437,3.811,0.342,11.642333,0.4971,3.885667,0.1721,1.015,0.091,0.079696,12.974759,8.777,0.008,0.010,0.025,0.005,0.015,0.005,0.029,0.002,0.057,0.009,0.152,0.008,11.64062,0.124,0.011,0.087,0.012,12.292456,0.110,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN
1,Afghanistan,1982,AFG,10088290.0,1.598041e+10,0.039,0.004,2.095,0.116,5.869,4.806,-0.983,-16.982,0.476,0.301,0.514,0.208,0.131,0.224,0.385,0.038,1150.217041,6.536237,0.358862,1.238,35.867,344.559,8.483,3.966,5.158,828.284,17.021,260.07266,926.651,0.585,0.282,0.028,0.396,0.039,0.8015,0.7437,2.711,0.269,11.642333,0.4971,3.885667,0.1721,0.993,0.098,0.079696,12.974759,9.348,0.010,0.011,0.021,0.005,0.014,0.006,0.029,0.002,0.059,0.010,0.151,0.009,11.64062,0.120,0.014,0.061,0.012,12.292456,0.108,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN
2,Afghanistan,1983,AFG,9951447.0,1.675533e+10,0.006,0.001,2.520,0.425,20.308,5.378,0.572,11.901,0.540,0.321,0.470,0.253,0.150,0.220,0.385,0.039,1150.217041,6.536237,0.358862,1.245,38.387,349.937,8.868,4.259,5.774,831.142,18.241,260.07266,1149.196,0.683,0.293,0.029,0.616,0.062,0.8015,0.7437,2.858,0.287,11.642333,0.4971,3.885667,0.1721,1.220,0.123,0.079696,12.974759,11.436,0.002,0.013,0.023,0.005,0.014,0.006,0.029,0.002,0.062,0.010,0.150,0.009,11.64062,0.138,0.022,0.059,0.015,12.292456,0.107,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN

# Fossil CO2 emissions by country Dataset

The dataset provides information on CO2 emissions from different sectors such as Power Industry, Buildings, Transports... in various countries over several years. Each entry includes the sector, country code, country name, and CO2 emission values for each year from 1970 to 2021. The emissions are measured in metric tons and represent the contribution of each sector to CO2 emissions in each country. The data highlights the trends and changes in CO2 emissions from the power sector across different nations over time.
Source: https://edgar.jrc.ec.europa.eu/report_2022

**Why to combine it with CO2 dataset?** Merging the two datasets will help me analyze the contribution of different sectors to CO2 emissions, in addition to examining the relationship between fuel types (oil, gas, cement...) and the different sectors

In [56]:
fossil = pd.read_excel('/content/fossil_CO2_booklet_2022.xlsx', sheet_name='fossil_CO2_by_sector_and_countr')

In [36]:
fossil.head(3)

,Substance,Sector,EDGAR Country Code,Country,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CO2,Power Industry,ABW,Aruba,0.034724,0.034724,0.034176,0.038519,0.034308,0.042696,0.045751,0.047304,0.056357,0.049008,0.049000,0.046898,0.044681,0.044996,0.050989,0.052237,0.050890,0.050782,0.187531,0.200996,0.212235,0.272269,0.324854,0.270806,0.300519,0.369636,0.245192,0.360374,0.384477,0.341682,0.416419,0.431002,0.477102,0.688210,0.707206,0.744741,0.739961,0.759320,0.739844,0.775735,0.808757,0.758619,0.896292,0.846442,0.867821,0.875170,0.865656,0.636500,0.626470,0.644432,0.531847,0.592537
1,CO2,Power Industry,AFG,Afghanistan,0.057193,0.057193,0.117373,0.175702,0.207734,0.211630,0.242012,0.377274,0.274987,0.303000,0.312252,0.364793,0.362857,0.508965,0.461299,0.644941,0.677210,0.742393,0.686658,0.612144,0.605739,0.563090,0.333830,0.353457,0.229275,0.360240,0.397680,0.396101,0.480629,0.449307,0.389981,0.350014,0.324319,0.386769,0.343354,0.493975,0.547871,0.686490,1.209718,1.750454,2.102779,2.668665,2.301978,2.141513,2.184922,2.403155,2.381635,2.536319,2.714542,2.412286,2.497878,2.547293
2,CO2,Power Industry,AGO,Angola,0.137584,0.137584,0.159268,0.168796,0.371819,0.352956,0.346539,0.346539,0.346539,0.386988,0.399822,0.399822,0.421991,0.459523,0.117357,0.160918,0.204478,0.173364,0.260485,0.244928,0.291600,0.244928,0.172587,0.125235,0.175019,0.171908,0.197091,0.416630,0.385126,0.621108,0.728548,0.820625,0.820625,1.027529,0.653290,0.767439,0.868947,0.976775,1.385920,2.226378,2.369113,2.229587,2.699129,3.993658,5.669711,6.130962,4.198263,4.071509,4.016469,4.612130,4.304458,4.687903

Let's see how many rows and columns we have

In [57]:
fossil.shape

(1036, 56)

There is only CO2 as a Substance

In [58]:
fossil['Substance'].unique()

array(['CO2'], dtype=object)

So I can drop it

In [59]:
fossil.drop('Substance', inplace = True, axis = 1)

I will rename the columns to cope with the CO2 dataset

In [60]:
column_rename = {
    'EDGAR Country Code': 'iso_code',
    'Country': 'country',
    'Sector': 'sector_name'
}

fossil = fossil.rename(columns=column_rename)

I need also to convert the years from columns into rows

In [61]:
# Convert years from columns to rows
fossil = fossil.melt(id_vars=['sector_name', 'iso_code', 'country'], var_name='year', value_name='fossil_co2_emission')
fossil.head(3)

      sector_name iso_code      country  year  fossil_co2_emission
0  Power Industry      ABW        Aruba  1970             0.034724
1  Power Industry      AFG  Afghanistan  1970             0.057193
2  Power Industry      AGO       Angola  1970             0.137584

Then, I need to have columns representing each fossil_co2_emission by sector, meaning that I want a column name  fossil_co2_emission_power_industry, fossil_co2_emission_buildings... depending on the values in sector name, and dropping sector_name column

**Why doing this?** Because when dealing with NA values, I want to average by the co2 emission by sector over the years not by the overall co2 emission over the years

In [62]:
# Pivot the data to have columns representing each fossil CO2 emission by sector
fossil = fossil.pivot_table(index=['iso_code', 'country', 'year'], columns='sector_name', values='fossil_co2_emission')

# Reset the index to make 'iso_code', 'country', and 'year' as columns
fossil = fossil.reset_index()

# Rename the columns
fossil = fossil.rename(columns={
    'Power Industry': 'fossil_co2_emission_power_industry',
    'Buildings': 'fossil_co2_emission_buildings',
    'Other industrial combustion': 'fossil_co2_other_industrial_combustion',
    'Transport': 'fossil_co2_transport',
    'Other sectors': 'fossil_co2_other_sectors',
})

# Sort the columns in desired order
fossil = fossil[['iso_code', 'country', 'year', 'fossil_co2_emission_power_industry', 'fossil_co2_emission_buildings', 'fossil_co2_other_industrial_combustion','fossil_co2_transport','fossil_co2_other_sectors']]

In [63]:
# I don't want the index to be called sector_name
fossil.columns.name = None

fossil.head(3)

,iso_code,country,year,fossil_co2_emission_power_industry,fossil_co2_emission_buildings,fossil_co2_other_industrial_combustion,fossil_co2_transport,fossil_co2_other_sectors
0,ABW,Aruba,1970,0.034724,0.041069,0.000476,0.004133,0.001473
1,ABW,Aruba,1971,0.034724,0.041069,0.000476,0.004133,0.001486
2,ABW,Aruba,1972,0.034176,0.055949,0.000535,0.003250,0.001505

Let's check again the shape

In [64]:
fossil.shape

(10920, 8)

We need also to check NA values in parallel with the type of each column. For visualization purposes, I will display the type of each column next to number of NAs (in descending order)

In [65]:
data_inf = {'Type':fossil.dtypes, 'Number_NAs':fossil.isna().sum()}
information = pd.DataFrame(data_inf)
information.sort_values(by = 'Number_NAs', ascending=False) # I am summming the NA values for each column and sorting them in descending order

                                           Type  Number_NAs
fossil_co2_other_industrial_combustion  float64         417
fossil_co2_emission_power_industry      float64         311
fossil_co2_emission_buildings           float64         294
fossil_co2_transport                    float64         122
fossil_co2_other_sectors                float64         104
iso_code                                 object           0
country                                  object           0
year                                      int64           0

Since they are float, I will substitute NA values by the mean of the column grouped by country so that I don't get false analysis: Imagine I substitute NA values with the minimum, I will have many numbers with minimum values in my plots and it may lead to false conclusions. Furthermore, I cannot let NA values in my data because it may cause some gaps in years (for example not having data for 2018 while having for 2017 and 2019), so mean is the best compromise.

In [66]:
columns_to_fill = ['fossil_co2_emission_power_industry', 'fossil_co2_emission_buildings', 'fossil_co2_other_industrial_combustion', 'fossil_co2_transport', 'fossil_co2_other_sectors']

for column in columns_to_fill:
    fossil[column] = fossil.groupby('country')[column].transform(lambda x: x.fillna(x.mean()))

mean_values = fossil.select_dtypes(include=['float']).mean()
fossil = fossil.fillna(mean_values)

Let's have a look on the years this dataset covers

In [67]:
years_fossil = sorted(list(fossil['year'].unique()))
print(years_fossil)

[1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

While the df dataset includes years from 1981 to 2021, this dataset  includes years from 1970 to 2021. So let's shrink the fossil dataset to 1981-2021 range

In [68]:
fossil = fossil[(fossil['year'] > 1980)]

Let's look again at the shape

In [69]:
fossil.shape

(8610, 8)

It's time to get the final merged dataset by combining the two dataframes by ISO code and year (I am not taking country because I found that there is a difference in how the country is represented in each of the dataframe)

In [70]:
# Merge the datasets based on iso_code and year
df = pd.merge(df, fossil, on=['iso_code', 'year'], how='left')

# Drop the unnecessary columns
df = df.drop(['country_y'], axis=1)

# Rename country_x
df = df.rename(columns={'country_x': 'country'})

In [71]:
# Rename country_x
df = df.rename(columns={'country_x': 'country_name'})

In [72]:
# Rename iso_code
df = df.rename(columns={'iso_code': 'country_code'})

In [73]:
df.head()

,country,year,country_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share,share_population_below_poverty_line,fossil_co2_emission_power_industry,fossil_co2_emission_buildings,fossil_co2_other_industrial_combustion,fossil_co2_transport,fossil_co2_other_sectors
0,Afghanistan,1981,AFG,11155196.0,1.564534e+10,0.033,0.003,1.978,0.222,12.649,5.789,0.882,17.967,0.519,0.370,0.660,0.177,0.126,0.225,0.333,0.030,1150.217041,6.536237,0.358862,1.199,33.772,339.753,8.098,3.684,4.763,825.572,16.028,260.07266,786.837,0.561,0.293,0.026,0.304,0.027,0.8015,0.7437,3.811,0.342,11.642333,0.4971,3.885667,0.1721,1.015,0.091,0.079696,12.974759,8.777,0.008,0.010,0.025,0.005,0.015,0.005,0.029,0.002,0.057,0.009,0.152,0.008,11.64062,0.124,0.011,0.087,0.012,12.292456,0.110,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN,0.364793,0.636430,0.266921,0.394093,0.606849
1,Afghanistan,1982,AFG,10088290.0,1.598041e+10,0.039,0.004,2.095,0.116,5.869,4.806,-0.983,-16.982,0.476,0.301,0.514,0.208,0.131,0.224,0.385,0.038,1150.217041,6.536237,0.358862,1.238,35.867,344.559,8.483,3.966,5.158,828.284,17.021,260.07266,926.651,0.585,0.282,0.028,0.396,0.039,0.8015,0.7437,2.711,0.269,11.642333,0.4971,3.885667,0.1721,0.993,0.098,0.079696,12.974759,9.348,0.010,0.011,0.021,0.005,0.014,0.006,0.029,0.002,0.059,0.010,0.151,0.009,11.64062,0.120,0.014,0.061,0.012,12.292456,0.108,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN,0.362857,0.716846,0.227614,0.395636,0.616237
2,Afghanistan,1983,AFG,9951447.0,1.675533e+10,0.006,0.001,2.520,0.425,20.308,5.378,0.572,11.901,0.540,0.321,0.470,0.253,0.150,0.220,0.385,0.039,1150.217041,6.536237,0.358862,1.245,38.387,349.937,8.868,4.259,5.774,831.142,18.241,260.07266,1149.196,0.683,0.293,0.029,0.616,0.062,0.8015,0.7437,2.858,0.287,11.642333,0.4971,3.885667,0.1721,1.220,0.123,0.079696,12.974759,11.436,0.002,0.013,0.023,0.005,0.014,0.006,0.029,0.002,0.062,0.010,0.150,0.009,11.64062,0.138,0.022,0.059,0.015,12.292456,0.107,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN,0.508965,1.068911,0.242331,0.547893,0.641982
3,Afghanistan,1984,AFG,10243689.0,1.707215e+10,0.048,0.005,2.822,0.302,11.968,5.167,-0.211,-3.930,0.504,0.303,0.450,0.275,0.165,0.246,0.393,0.038,1150.217041,6.536237,0.358862,1.293,41.209,355.103,9.260,4.575,6.706,833.487,19.375,260.07266,1121.573,0.673,0.316,0.031,0.932,0.091,0.8015,0.7437,2.345,0.229,11.642333,0.4971,3.885667,0.1721,1.134,0.111,0.079696,12.974759,11.489,0.011,0.014,0.021,0.005,0.014,0.006,0.029,0.002,0.065,0.011,0.149,0.009,11.64062,0.169,0.031,0.044,0.014,12.292456,0.106,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN,0.461299,1.290147,0.261446,0.539186,0.677510
4,Afghanistan,1985,AFG,10512220.0,1.710848e+10,0.032,0.003,3.501,0.680,24.096,5.297,0.130,2.522,0.504,0.310,0.472,0.333,0.205,0.312,0.400,0.038,1150.217041,6.536237,0.358862,1.324,44.710,360.400,9.660,4.905,7.898,835.282,20.923,260.07266,1067.071,0.656,0.330,0.031,1.192,0.113,0.8015,0.7437,1.795,0.171,11.642333,0.4971,3.885667,0.1721,1.548,0.147,0.079696,12.974759,11.217,0.007,0.017,0.021,0.005,0.013,0.006,0.029,0.002,0.068,0.013,0.148,0.009,11.64062,0.182,0.038,0.035,0.019,12.292456,0.104,0.0,0.0,0.001,0.0,18.114667,18.971,-15.918639,20.885092,NaN,0.644941,1.654518,0.424553,0.693786,0.710335

In [74]:
df.to_excel('preprocessed data.xlsx')

# Worksheets in the physical Excel schema

After cleaning my data and joining everything, I did a schema using JMerise in order to generate the snowflake and to know which tables should be implemented in excel. Below is the resulting snowflake:

![snowflake.png]()

Everything should be implement except for the table Year does not need to be represented because we don’t implement single-attribute tables

## Country

In [75]:
country = df[['country_code', 'country', 'gdp', 'population', 'share_population_below_poverty_line']]

In [76]:
country.tail()

,country_code,country,gdp,population,share_population_below_poverty_line
9876,ZWE,Zimbabwe,2.194784e+10,14751101.0,99.51887
9877,ZWE,Zimbabwe,2.271535e+10,15052191.0,99.17403
9878,ZWE,Zimbabwe,1.542784e+10,15354606.0,99.04897
9879,ZWE,Zimbabwe,1.542784e+10,15669663.0,NaN
9880,ZWE,Zimbabwe,1.542784e+10,15993525.0,NaN

## Sector

In [102]:
# Define the sector names
sector_names = [
    'Power Industry',
    'Buildings',
    'Other industrial combustion',
    'Transport',
    'Other sectors'
]

# Create a dictionary with sector names as keys and corresponding codes as values
sector_codes = {name: i for i, name in enumerate(sector_names)}

# Create a dataframe with sector_code column
sector = pd.DataFrame({'sector_name': sector_names})
sector['sector_code'] = sector['sector_name'].map(sector_codes)

In [103]:
sector

                   sector_name  sector_code
0               Power Industry            0
1                    Buildings            1
2  Other industrial combustion            2
3                    Transport            3
4                Other sectors            4

## Fuel_Type

In [99]:
# Define the type of fuel names
type_names = [
    'Cement',
    'Coal',
    'Gas',
    'Flaring',
    'Oil',
    'Other'
]

# Create a dictionary with type names as keys and corresponding codes as values
type_codes = {name: i for i, name in enumerate(type_names)}

# Create a dataframe with type_code column
fuel_type = pd.DataFrame({'type_name': type_names})
fuel_type['type_code'] = fuel_type['type_name'].map(type_codes)

In [100]:
fuel_type

  type_name  type_code
0    Cement          0
1      Coal          1
2       Gas          2
3   Flaring          3
4       Oil          4
5     Other          5

## CO2_emission

In [81]:
co2_emission = df[['country_code', 'year', 'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc','co2_including_luc_growth_abs',
    'co2_including_luc_per_capita',
    'co2_including_luc_per_gdp',
    'consumption_co2',
    'consumption_co2_per_capita',
    'consumption_co2_per_gdp',
    'co2_per_capita',
    'co2_per_gdp',
    'cumulative_co2',
    'cumulative_co2_including_luc',
    'cumulative_luc_co2',
    'land_use_change_co2',
    'land_use_change_co2_per_capita',
    'share_global_co2',
    'share_global_co2_including_luc',
    'share_global_cumulative_co2',
    'share_global_cumulative_co2_including_luc',
    'share_global_cumulative_luc_co2',
    'share_global_luc_co2',
    'trade_co2',
    'trade_co2_share'
]]

In [82]:
co2_emission.head()

,country_code,year,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_per_capita,co2_including_luc_per_gdp,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,co2_per_capita,co2_per_gdp,cumulative_co2,cumulative_co2_including_luc,cumulative_luc_co2,land_use_change_co2,land_use_change_co2_per_capita,share_global_co2,share_global_co2_including_luc,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_luc_co2,share_global_luc_co2,trade_co2,trade_co2_share
0,AFG,1981,1.978,0.222,12.649,5.789,0.882,0.519,0.370,1150.217041,6.536237,0.358862,0.177,0.126,33.772,339.753,825.572,3.811,0.342,0.010,0.025,0.005,0.029,0.152,0.087,-15.918639,20.885092
1,AFG,1982,2.095,0.116,5.869,4.806,-0.983,0.476,0.301,1150.217041,6.536237,0.358862,0.208,0.131,35.867,344.559,828.284,2.711,0.269,0.011,0.021,0.006,0.029,0.151,0.061,-15.918639,20.885092
2,AFG,1983,2.520,0.425,20.308,5.378,0.572,0.540,0.321,1150.217041,6.536237,0.358862,0.253,0.150,38.387,349.937,831.142,2.858,0.287,0.013,0.023,0.006,0.029,0.150,0.059,-15.918639,20.885092
3,AFG,1984,2.822,0.302,11.968,5.167,-0.211,0.504,0.303,1150.217041,6.536237,0.358862,0.275,0.165,41.209,355.103,833.487,2.345,0.229,0.014,0.021,0.006,0.029,0.149,0.044,-15.918639,20.885092
4,AFG,1985,3.501,0.680,24.096,5.297,0.130,0.504,0.310,1150.217041,6.536237,0.358862,0.333,0.205,44.710,360.400,835.282,1.795,0.171,0.017,0.021,0.006,0.029,0.148,0.035,-15.918639,20.885092

## CO2_emission_by_sector

In [83]:
co2_emission_by_sector = df[['country_code', 'year', 'fossil_co2_emission_power_industry', 'fossil_co2_emission_buildings',
                             'fossil_co2_other_industrial_combustion', 'fossil_co2_transport', 'fossil_co2_other_sectors']]

In [84]:
co2_emission_by_sector.head(3)

,country_code,year,fossil_co2_emission_power_industry,fossil_co2_emission_buildings,fossil_co2_other_industrial_combustion,fossil_co2_transport,fossil_co2_other_sectors
0,AFG,1981,0.364793,0.636430,0.266921,0.394093,0.606849
1,AFG,1982,0.362857,0.716846,0.227614,0.395636,0.616237
2,AFG,1983,0.508965,1.068911,0.242331,0.547893,0.641982

In [85]:
# Define the sector names and sector codes
sector_mapping = {
    'fossil_co2_emission_power_industry': 0,
    'fossil_co2_emission_buildings': 1,
    'fossil_co2_other_industrial_combustion': 2,
    'fossil_co2_transport': 3,
    'fossil_co2_other_sectors': 4
}

# Split rows into sectors
sectors = [
    'fossil_co2_emission_power_industry',
    'fossil_co2_emission_buildings',
    'fossil_co2_other_industrial_combustion',
    'fossil_co2_transport',
    'fossil_co2_other_sectors'
]

# Split each row into five rows, where each row corresponds to one sector and map sector_name to sector_code
rows = []
for _, row in co2_emission_by_sector.iterrows():
    for sector in sectors:
        rows.append([row['country_code'],sector_mapping[sector], row['year'], row[sector]])

# Creating new DataFrame
co2_emission_by_sector = pd.DataFrame(rows, columns=['country_code', 'sector_code', 'year', 'co2_by_sector'])

In [86]:
co2_emission_by_sector.head(10)

  country_code  sector_code  year  co2_by_sector
0          AFG            0  1981       0.364793
1          AFG            1  1981       0.636430
2          AFG            2  1981       0.266921
3          AFG            3  1981       0.394093
4          AFG            4  1981       0.606849
5          AFG            0  1982       0.362857
6          AFG            1  1982       0.716846
7          AFG            2  1982       0.227614
8          AFG            3  1982       0.395636
9          AFG            4  1982       0.616237

## CO2_emission_by_fuel_type

In [87]:
co2_emission_by_fuel_type = df[['country_code', 'year', 'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2', 'other_industry_co2',
                               'cement_co2_per_capita', 'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita', 'oil_co2_per_capita', 'other_co2_per_capita',
                               'cumulative_cement_co2', 'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_oil_co2', 'cumulative_other_co2',
                               'share_global_cement_co2', 'share_global_coal_co2', 'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_oil_co2', 'share_global_other_co2', 'share_global_cumulative_cement_co2', 'share_global_cumulative_coal_co2',
                               'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2']]

In [88]:
co2_emission_by_fuel_type.head(3)

,country_code,year,cement_co2,coal_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,cumulative_cement_co2,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_oil_co2,cumulative_other_co2,share_global_cement_co2,share_global_coal_co2,share_global_flaring_co2,share_global_gas_co2,share_global_oil_co2,share_global_other_co2,share_global_cumulative_cement_co2,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2
0,AFG,1981,0.033,0.333,0.293,0.304,1.015,12.974759,0.003,0.030,0.026,0.027,0.091,0.079696,1.199,8.098,3.684,4.763,16.028,260.07266,0.008,0.005,0.124,0.011,0.012,12.292456,0.015,0.002,0.057,0.009,0.008,11.64062
1,AFG,1982,0.039,0.385,0.282,0.396,0.993,12.974759,0.004,0.038,0.028,0.039,0.098,0.079696,1.238,8.483,3.966,5.158,17.021,260.07266,0.010,0.005,0.120,0.014,0.012,12.292456,0.014,0.002,0.059,0.010,0.009,11.64062
2,AFG,1983,0.006,0.385,0.293,0.616,1.220,12.974759,0.001,0.039,0.029,0.062,0.123,0.079696,1.245,8.868,4.259,5.774,18.241,260.07266,0.002,0.005,0.138,0.022,0.015,12.292456,0.014,0.002,0.062,0.010,0.009,11.64062

In [89]:
# Define the type names and type codes
type_mapping = {
    'cement': 0,
    'coal': 1,
    'gas': 2,
    'flaring': 3,
    'oil': 4,
    'other': 5
}

# Split rows into types
fuel_types = [
    'cement',
    'coal',
    'gas',
    'flaring',
    'oil',
    'other'
]

# For coding purposes
co2_emission_by_fuel_type = co2_emission_by_fuel_type.rename(columns={'other_industry_co2': 'other_co2'})

# Split each row into five rows, where each row corresponds to one type and map type_name to type_code
rows = []
for _, row in co2_emission_by_fuel_type.iterrows():
  for fuel_type in fuel_types:
      rows.append([row['country_code'],type_mapping[fuel_type], row['year'], row[fuel_type+'_co2'], row[fuel_type+'_co2_per_capita'],
                   row['cumulative_'+fuel_type+'_co2'], row['share_global_'+fuel_type+'_co2'], row['share_global_cumulative_'+fuel_type+'_co2']])

# Creating new DataFrame
co2_emission_by_fuel_type = pd.DataFrame(rows, columns=['country_code', 'type_code', 'year', 'co2', 'co2_per_capita', 'cumulative_co2',
                                                        'share_global_co2', 'share_global_cumulative_co2'])

In [90]:
co2_emission_by_fuel_type.head(10)

,country_code,type_code,year,co2,co2_per_capita,cumulative_co2,share_global_co2,share_global_cumulative_co2
0,AFG,0,1981,0.033000,0.003000,1.19900,0.008000,0.01500
1,AFG,1,1981,0.333000,0.030000,8.09800,0.005000,0.00200
2,AFG,2,1981,0.304000,0.027000,4.76300,0.011000,0.00900
3,AFG,3,1981,0.293000,0.026000,3.68400,0.124000,0.05700
4,AFG,4,1981,1.015000,0.091000,16.02800,0.012000,0.00800
5,AFG,5,1981,12.974759,0.079696,260.07266,12.292456,11.64062
6,AFG,0,1982,0.039000,0.004000,1.23800,0.010000,0.01400
7,AFG,1,1982,0.385000,0.038000,8.48300,0.005000,0.00200
8,AFG,2,1982,0.396000,0.039000,5.15800,0.014000,0.01000
9,AFG,3,1982,0.282000,0.028000,3.96600,0.120000,0.05900

## Energy_consumption

In [91]:
energy_consumption = df[['country_code', 'year', 'primary_energy_consumption', 'energy_per_capita', 'energy_per_gdp', 'co2_per_unit_energy',
                   'co2_including_luc_per_unit_energy']]

In [92]:
energy_consumption.head()

,country_code,year,primary_energy_consumption,energy_per_capita,energy_per_gdp,co2_per_unit_energy,co2_including_luc_per_unit_energy
0,AFG,1981,8.777,786.837,0.561,0.225,0.660
1,AFG,1982,9.348,926.651,0.585,0.224,0.514
2,AFG,1983,11.436,1149.196,0.683,0.220,0.470
3,AFG,1984,11.489,1121.573,0.673,0.246,0.450
4,AFG,1985,11.217,1067.071,0.656,0.312,0.472

## GHG_emission

In [96]:
ghg_emission = df[['country_code', 'year', 'total_ghg', 'total_ghg_excluding_lucf', 'ghg_per_capita', 'ghg_excluding_lucf_per_capita',
                   'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita']]

In [97]:
ghg_emission.head()

,country_code,year,total_ghg,total_ghg_excluding_lucf,ghg_per_capita,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita
0,AFG,1981,18.114667,18.971,0.7437,0.8015,11.642333,0.4971,3.885667,0.1721
1,AFG,1982,18.114667,18.971,0.7437,0.8015,11.642333,0.4971,3.885667,0.1721
2,AFG,1983,18.114667,18.971,0.7437,0.8015,11.642333,0.4971,3.885667,0.1721
3,AFG,1984,18.114667,18.971,0.7437,0.8015,11.642333,0.4971,3.885667,0.1721
4,AFG,1985,18.114667,18.971,0.7437,0.8015,11.642333,0.4971,3.885667,0.1721

## Temperature_change

In [105]:
temperature_change = df[['country_code', 'year', 'temperature_change_from_ghg', 'temperature_change_from_co2', 'temperature_change_from_ch4',
                         'temperature_change_from_n2o']]

In [106]:
temperature_change.head()

,country_code,year,temperature_change_from_ghg,temperature_change_from_co2,temperature_change_from_ch4,temperature_change_from_n2o
0,AFG,1981,0.001,0.0,0.0,0.0
1,AFG,1982,0.001,0.0,0.0,0.0
2,AFG,1983,0.001,0.0,0.0,0.0
3,AFG,1984,0.001,0.0,0.0,0.0
4,AFG,1985,0.001,0.0,0.0,0.0

## Excel File

In [107]:
# Create ExcelWriter object
writer = pd.ExcelWriter('CO2 emission.xlsx')

# Write DataFrames to separate sheets
country.to_excel(writer, sheet_name='Country', index=False)
fuel_type.to_excel(writer, sheet_name='Fuel_Type', index=False)
sector.to_excel(writer, sheet_name='Sector', index=False)
co2_emission.to_excel(writer, sheet_name='CO2_emission', index=False)
co2_emission_by_fuel_type.to_excel(writer, sheet_name='CO2_emission_by_fuel_type', index=False)
co2_emission_by_sector.to_excel(writer, sheet_name='CO2_emission_by_sector', index=False)
energy_consumption.to_excel(writer, sheet_name='Energy_consumption', index=False)
ghg_emission.to_excel(writer, sheet_name='GHG_emission', index=False)
temperature_change.to_excel(writer, sheet_name='Temperature_change', index=False)

# Save the Excel file
writer.save()

<ipython-input-107-fffc43aa5a7b>:16: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()